{% load static staticfiles %}
<html>
    <head>
        <title>K@MISETAS</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href='{% static "Semantic-UI/dist/semantic.min.css" %}'>
    <link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'>
    <script src='{% static "jquery/jquery-3.2.1.min.js" %}'></script>
    <script type="application/javascript" src='{% static "js/projetoweb.js" %}'></script>
    <script src='{% static "Semantic-UI/dist/semantic.min.js" %}'></script>
    </head>
    <body>
        <header>
            <div class="ui fluid large">
                <div class="ui container">
                    <div class="ui grid stackable">
                        <div class="two wide column">
                                <img src="{% static 'logo.png'%}">

                        </div>
                        <div class="eleven wide column">
                            <h2></h2>
                            <h1 class="ui inverted header left aligned">
                                <div class="content">K@MISETAS</div>
                                <div class="sub header">Sua camiseta do seu jeito!</div>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        {% if user.is_authenticated %}
            <nav class="ui menu stackable">
                <a class="item" href="{% url 'index' %}"><i class="icon large home"></i>Home</a>

                <div class="menu right aligned stackable">
                    <span class="item">
                        <i class="ui right large user icon"></i>
                        {{ user.username }}
                    </span>
                    <a href="{% url 'logout' %}" class="item">
                    <i class="sign out icon"></i>
                    Sair
                    </a>
                </div>
            </nav>
        {% endif %}
        <article class="ui centered middle aligned grid stackable">
            {% block main%}

            {% endblock %}
        </article>
        <footer class="ui inverted vertical segment footer">
            <div class="ui five column middle aligned centered inverted sectionided stackable grid">
                <div class="two wide column">
                    <h3 class="ui inverted icon header">
                        <img src="{% static 'logo.png'%}">
                        <div class="content">
                            K@MISETAS
                            <div class="sub header">© Copyright 2018.</div>
                        </div>
                    </h3>
                </div>
                <div class="three wide column">
                    <ul class="ui relaxed inverted list">
                        <li class="item">
                            <img src="{% static 'card1.png'%}">
                            <img src="{% static 'card2.png'%}">
                        </li>
                    </ul>
                </div>
            </div>
        </footer>
    </body>
</html>